/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-x: hidden;
	/* overflow-y: hidden; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow-y: auto;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgb(254, 174, 0);
	background: linear-gradient(90deg, rgba(254, 174, 0, 1) 0%, rgba(254, 144, 0, 1) 100%);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: wheat;
}
